<mat-nav-list>
    <div class="logo py-4">
        <h1 class="logo-title">Data Design</h1>
        <img src="../../assets/VALUELOGO.png" alt="Company Logo" class="logo-img">
    </div>  
     <div class="side-nav-content">
        <ul class="nav-list" [ngClass]="{'nav-list-open': sideBarStatus}">
            <li class="nav-list-item">
                    <a routerLink="/User/Home" routerLinkActive="list-item-active" class="nav-link">
                        <i class="fa-solid fa-house" style="color: #181818; margin-left: 35px;"></i>
                        Home
                    </a>
                    <ng-container *ngFor="let menu of menuList" >
                        <ng-container [ngTemplateOutlet]="menu.children ? childMenu : parentMenu"[ngTemplateOutletContext]="{menu:menu}">
                        </ng-container>
                    </ng-container>
                     <a routerLink="/User/Tags" routerLinkActive="list-item-active" class="nav-link">
                        <i class="fa-solid fa-tag" style="color: #181818; margin-left: 35px;"></i>
                        Tags
                    </a>
            </li>
        </ul>
     </div>
</mat-nav-list>
<ng-template #parentMenu let-menu="menu" >
    <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let project of projects">
        Projects
    </mat-list-item>
</ng-template>

<!-- <ng-template #childMenu let-menu="menu" routerLinkActive="list-item-active" class="nav-link nav-list" >
    <mat-expansion-panel [class.mat-elevation-z0]="true" style="background-color: #F5F7F8; ">
        <mat-expansion-panel-header  (click)="showProject()">
            <i class="fa-solid fa-folder" style="color: #181818;"></i>
            Projects
        </mat-expansion-panel-header>
        <mat-nav-list>
            <mat-list-item routerLink="/Projects/{{submenu.idProject}}" *ngFor="let submenu of projects" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header style="width: 100%;">
                        <mat-panel-title >
                            {{submenu.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let model of models">
                        <div *ngIf="model.idProject==submenu.idProject" routerLink="/Projects/{{submenu.idProject}}/model/model.idModel">
                            {{model.nameModel}}
                        </div>
                    </div>
                </mat-expansion-panel>     
            </mat-list-item>
        </mat-nav-list>
    </mat-expansion-panel>
</ng-template> -->

<ng-template #childMenu let-menu="menu" routerLinkActive="list-item-active" class="nav-link nav-list" >
    <mat-expansion-panel [class.mat-elevation-z0]="true" style="background-color: #F5F7F8; ">
        <mat-expansion-panel-header  (click)="showProject()">
            <i class="fa-solid fa-folder" style="color: #181818;"></i>
            Projects
        </mat-expansion-panel-header>
        <mat-nav-list>
            <mat-list-item routerLink="/User/Projects/{{submenu.idProject}}" *ngFor="let submenu of projects" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
                {{submenu.name}}     
            </mat-list-item>
        </mat-nav-list>
    </mat-expansion-panel>
</ng-template>

