<div class="body">
  <div class="header">
    <div class="page__box-logo">
      <h1 class="logo-title">Data Design</h1>
      <img src="../../assets/VALUELOGO.png" alt="Company Logo" class="logo-img">
    </div>
      <div class="page__box-button">
        <mat-dialog-actions>
          <button mat-raised-button class="signup-button" [routerLink]="['/Register']"> Sign Up </button>
          <button mat-raised-button class="signin-button" [routerLink]="['/Login']"> Sign In </button>
        </mat-dialog-actions>
      </div>
  </div>
    <div class="section">
      <div class="signin"> 
        <div class="content"> 
          <h2>Register</h2> 
          <form (ngSubmit)="register()" class="form" [formGroup]="formLogin"> 
            <div class="inputBox">
              <input type="text" class="form-control" id="userName"  placeholder="User Name" formControlName="userName">
              <div *ngIf="formLogin.get('userName')?.hasError('required')">User Name is required.</div>
              <div *ngIf="formLogin.get('userName')?.hasError('minlength')">User Name be at least 4 characters.</div>
            </div> 
            <div class="inputBox"> 
              <input type="email"  class="form-control" id="email" class="form-control" placeholder="Email" formControlName="email">
              <div *ngIf="formLogin.get('email')?.hasError('required')">Email is required.</div>
              <div *ngIf="formLogin.get('email')?.hasError('email')">Invalid email format.</div>
            </div> 
            <div class="inputBox"> 
              <input type="password"  class="form-control" id="password" class="form-control" placeholder="Password" formControlName="password">
              <div *ngIf="formLogin.get('password')?.hasError('required')">Password is required.</div>
              <div *ngIf="formLogin.get('password')?.hasError('minlength')">Password must be at least 4 characters.</div>
            </div> 
            <div class="inputBox signin-button custom-signin-button"> <input type="submit" value="Sign up" [disabled]="!formLogin.valid"> </div> 
            <div class="register"> You have an account? <a href="/Login">Sign In Now</a> </div> 
          </form>
        </div> 
      </div> 
    </div>
  </div>
