<div class="container mt-4" >
    <div class="card">
        <h1>Register</h1>
<form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}"  class="form-control" id="name" class="form-control" placeholder="Enter Name">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" class="form-control" id="email"  placeholder="Enter Email">
      </div>

      <div class="form-group">
        <label>Paaword</label>
        <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" class="form-control" placeholder="Enter Password">
      </div>

     <button type="submit" class="btn btn-primary" (click)="save()">Register</button>


  </form>
</div>

</div>
