
.submit-button{
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgba(53, 114, 132, .5);
    border-color: #357284;
}
.cancel-button{
    border-radius: 5px;
    background-color: rgba(255, 136, 37, .5);
    border-color: rgba(255, 136, 37);
}
.action-box{
    margin-right: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: right;
}
.page__content{
    margin : 15px 20px auto 20px;
    width: calc(100% - 40px);
    height: 100%;
    /* min-height: calc(100vh - 160px); */
}

