
<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="togglesidebar()"><mat-icon>menu</mat-icon></button>
            <a class="navbar-brand px-4 " href="/Home">Data Design</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
        </ul>
    </div>
    
    <h6 class="col-3">Welcome Nour el houda</h6>
    <div class="profile-logo dropstart">
        <button class="btn btn_outline-dark dropdown-toggle" style="color: #FF8825;"data-bs-toggle="dropdown">
            <i class="fa-solid fa-user"></i>
        </button>
        <ul class="dropdown-menu dropdow-menu-light">
            <li><a href="#" class="dropdown-item">My profile</a></li>
            <li><a href="#" class="dropdown-item">Log Out</a></li>
        </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

