<div class="container-fluid page">
    <div class="page__box">
        <div class="page__box-title"> 
          {{model.project.name}} / 
          {{ model.nameModel }} 
          <button mat-button class="update-button" (click)="openUpdateDialog()"><i class="fa-solid fa-pen" style="color: #181818;"></i></button>
        </div>
        <div class="page__box-search">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Table name</mat-label>
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </form>
        </div>
    </div>
    <div class="page__box-add">
        <button mat-raised-button class="add-button"> New 
            <i class="fa-sharp fa-solid fa-plus" style="color: #181818;"></i>
        </button>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data">
            <div class="example-box" cdkDragBoundary=".page__content-data" *ngFor="let tab of tabs" cdkDrag>
               {{tab.name}} / {{tab.description}} 
               <mat-divider></mat-divider>
            </div>
        </div>
    </div>
</div>
