/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
body{
    font-family: 'Poppins', sans-serif;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
h3{
    color: grey;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important; 
}
body > app-root > mat-drawer-container > mat-drawer-content > app-add-tab-dialog > 
div > div.page__box_body > form > div:nth-child(1) > mat-form-field-should-float > mat-focused {
    height: 0px !important; 
    background-color:red;
}
.mat-form-field-wrapper {
    border:solid  #f5f7f8;
    border-radius: 10px;
    padding:5px 10px;
    height: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom:0 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-ripple  {
   height: 0 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
}
.mat-form-field-underline {
    width: 0% !important;
}
a {
    color: inherit;
    /* text-decoration: none; */
}


