<button mat-icon-button style="float:right;" matDialogClose>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
    <header><h1>Update Model</h1></header>
    <form (ngSubmit)="onSubmit()" class="example-form">
        <div class="dialogContent">
            <h2> Name  </h2>
            <mat-form-field class="example-full-width">
                <input matInput class="input" placeholder="Enter model name" id="nameModel" [(ngModel)]="model.nameModel" name="nameModel" required>
            </mat-form-field>
        </div>
            <div class="action-box">
                <button mat-button class="submit-button" type="submit"> Update</button>
                <button mat-button class="cancel-button" matDialogClose> Cancel</button>
            </div>
    </form>
</mat-dialog-content>
