<button mat-icon-button style="float:right;" matDialogClose>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
    <header><h1>Add New Model</h1></header>
    <div class="dialogContent">
        <h2 class="mr-5"> Name  </h2>
        <mat-form-field class="input">
            <input matInput class="input" placeholder="Enter model name">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="action-box">
    <button mat-button class="submit-button"> Submit</button>
    <button mat-button class="cancel-button" matDialogClose> Cancel</button>
</mat-dialog-actions>
