.submit-button{
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgba(53, 114, 132, .5);
    border-color: #357284;
}
.cancel-button{
    border-radius: 5px;
    background-color: rgba(255, 136, 37, .5);
    border-color: rgba(255, 136, 37);
}
.dialogContent{
    margin-left: 50px;
    margin-top: 40px;
    display: flex;
}
.input{
    margin-left: 50px;
    width: 350px !important;
}
.action-box{
    margin-right: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: right;
}