<button mat-icon-button style="float:right;" matDialogClose>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
    <header><h1>Add Join</h1></header>
    <form (ngSubmit)="onSubmit()">
            <div class="dialogTabContent">
                <h3 class="title"> Binding Table </h3>
                <h3> Bound Table  </h3>
            </div>
            <div class="dialogTabContent">
                <mat-form-field appearance="fill" class="input input-space">
                    <mat-label>Table 1</mat-label>
                    <mat-select id="TabName1" [(ngModel)]="join.bindingTable" name="TabName1">
                        <mat-option *ngFor="let tab of tabs"  [value]="tab.name">{{ tab.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Table 2</mat-label>
                    <mat-select  id="TabName2" [(ngModel)]="join.boundTable"  name="TabName2">
                        <mat-option *ngFor="let tab of tabs"  [value]="tab.name">{{ tab.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="dialogTabContent">
                <h5 style="margin-right: 175px;"> Attribute Binding Table </h5>
                <h5> Attribute Bound Table  </h5>
            </div>
            <div class="dialogTabContent">
                <mat-form-field appearance="fill" class="input input-space">
                    <mat-label>Select</mat-label>
                    <mat-select [disabled]="disableSelect.value" >
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Select</mat-label>
                    <mat-select [disabled]="disableSelect.value">
                        <mat-option value="1..1">1..1</mat-option>
                        <mat-option value="0..*" disabled>0..*</mat-option>
                        <mat-option value="1..*">1..*</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="dialogTabContent">
                <h5 style="margin-right: 238px;"> Cardinality </h5>
                <h5> Cardinality  </h5>
            </div>
            <div class="dialogTabContent">
                <mat-form-field appearance="fill" class="input input-space">
                    <mat-label>Select</mat-label>
                    <mat-select  id="value1" [(ngModel)]="join.value"  name="value1">
                        <mat-option value="1..1">1..1</mat-option>
                        <mat-option value="0..*">0..*</mat-option>
                        <mat-option value="1..*">1..*</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="input">
                    <mat-label>Select</mat-label>
                    <mat-select id="value2" [(ngModel)]="value"  name="value2">
                        <mat-option value="1..1">1..1</mat-option>
                        <mat-option value="0..*">0..*</mat-option>
                        <mat-option value="1..*">1..*</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="action-box">
                <button mat-button class="submit-button" type="submit"> Submit</button>
                <button mat-button class="cancel-button" matDialogClose> Cancel</button>
            </div>

    </form>

</mat-dialog-content>
