<div class="container-fluid page">
    <div class="page__box_body">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm" class="example-form">
        <div class="page__box-title">Create New Table</div>
        <div class="dialogContent col-12">
            <h4  class="col-2"> Name  </h4>
            <mat-form-field class="example-form">
                <input matInput class="input" placeholder="Enter Table name" id="name" [(ngModel)]="tab.name"  name="name" required>
            </mat-form-field>
        </div>
        <div class="dialogContent col-12">
            <h4 class="col-2"> Description  </h4>
            <mat-form-field class="example-form" >
                <textarea matInput required
                placeholder="Enter Table Description"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5" id="description" [(ngModel)]="tab.description" name="description"></textarea>
            </mat-form-field>
        </div>
        <div class="page__box-section mt-3">
            <div class="page__box-title">Create New Attribute</div>
            <button mat-raised-button class="add-button"> New 
                <i class="fa-sharp fa-solid fa-plus" style="color: #181818;"></i>
            </button>
        </div>
            <div class="dialogContent-Att col-12">
                <mat-form-field class="example-width">
                    <input matInput class="input" placeholder="Attribute name" id="name" [(ngModel)]="attribute.name" name="name" required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-width">
                    <mat-label>Type</mat-label>
                    <mat-select   id="type" [(ngModel)]="attribute.type"  name="type" required>
                        <mat-option value="varchar">varchar</mat-option>
                        <mat-option value="integer">integer</mat-option>
                        <mat-option value="double">double</mat-option>
                        <mat-option value="boolean">boolean</mat-option>
                        <mat-option value="date">date</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-width">
                    <input matInput type="number" class="input" placeholder="Length" id="lengthAttribute" [(ngModel)]="attribute.lengthAttribute" name="lengthAttribute">
                </mat-form-field>
                <mat-form-field class="example-width">
                    <input matInput  type="number" class="input" placeholder="Decimal" id="decimalAttribute" [(ngModel)]="attribute.decimalAttribute" name="decimalAttribute">
                </mat-form-field>
            </div>
            <div class="dialogContent">
                <mat-form-field class="example-width" style="width: 900px;">
                    <textarea matInput required
                    placeholder="Description"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="5" id="description" [(ngModel)]="attribute.description" name="description"></textarea>
                </mat-form-field>
                <div>
                    <section class="example-section">
                        <mat-checkbox class="example-margin checkbox" color="warn" id="required" [(ngModel)]="attribute.requiredAttribute" name="required">Required</mat-checkbox>
                    </section>
                    <div>
                        <section class="example-section">
                            <mat-checkbox class="example-margin" color="warn" id="pKey" [(ngModel)]="attribute.PKey" name="pKey">Primary key</mat-checkbox>
                        </section>
                        <section class="example-section">
                            <mat-checkbox class="example-margin" color="warn" id="fKey" [(ngModel)]="attribute.FKey" name="fKey">Foreign key</mat-checkbox>
                        </section>
                    </div>
                </div>
            </div>
            <div class="action-box">
                <button mat-button class="submit-button" type="submit" [disabled]="!myForm.form.valid"> Submit</button>
                <button mat-button class="cancel-button" > Cancel</button>
            </div>

    </form>
</div>
</div>

    

