.page__box{
    margin : 80px 20px auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page__box-title{
    flex: 1;
    font-weight:550;
    color: #181818;
}
.page__box-search{
    flex: 1; 
    text-align: -webkit-right;
}

.page__box-add{
    display: flex;
    justify-content:end;
    margin : 10px 20px auto 20px;
}
.add-button{
    border-radius: 5px;
    background-color: rgba(255, 136, 37, .5);
    border-color: rgba(255, 136, 37);
}
.show-button{
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgba(53, 114, 132, .5);
    border-color: #357284;
}
.delete-button{
    border-radius: 5px;
    background-color: rgba(255, 136, 37, .5);
    border-color: rgba(255, 136, 37);
}
.action-box{
    display: flex;
    justify-content: center;
}
.page__content{
    margin : 15px 20px auto 20px;
    height: 100%;
    min-height: cal(100vh - 160px);
    border-radius: 10px;
}
.page__content-data{
    display: grid;
    column-gap: 5%;
    row-gap: 30px;
    grid-template-columns: repeat(5, 16%);
}

.card__box{
    width: 100%;
    background-color: #F5F7F8;
}
mat-card-header{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

