<div class="body">
  <div class="header">
    <div class="page__box-logo">
      <h1 class="logo-title">Data Design</h1>
      <img src="../../assets/VALUELOGO.png" alt="Company Logo" class="logo-img">
    </div> 
    <div class="page__box-button">
        <mat-dialog-actions>
          <button mat-raised-button class="signup-button" [routerLink]="['/Register']"> Sign Up </button>
          <button mat-raised-button class="signin-button" [routerLink]="['/Login']"> Sign In </button>
        </mat-dialog-actions>
    </div>
  </div>
  <div class="section">
    <div class="signin"> 
      <div class="content"> 
        <h2>Login</h2> 
        <form (ngSubmit)="login()" #myForm="ngForm" class="form" [formGroup]="formLogin"> 
          <div class="inputBox"> 
            <input type="text" class="form-control" id="userName"  placeholder="User Name" name="userName" required formControlName="userName">
          </div> 
          <div class="inputBox"> 
            <input type="password"  class="form-control" id="password" class="form-control" placeholder="Password" name="password" required formControlName="password">
          </div> 
          <div class="inputBox signin-button custom-signin-button"> <input type="submit" value="Sign In" [disabled]="!myForm.form.valid"> </div> 
          <div class="register"> Don't have an account? <a href="/Register">Sign Up Now</a> </div> 
        </form>
      </div> 
    </div> 
  </div>
</div>

